package views

templ SignUpUser() {
    <div class="m-auto p-6 max-w-md w-full bg-white rounded-lg shadow">
        <h2 class="text-2xl font-bold mb-4">Create your user</h2>
        <form hx-post="/views/sign_up_2" hx-target="#main" hx-swap="innerHTML" class="space-y-4">
            <div>
                <label class="block text-sm font-medium text-gray-700" for="full_name">Full Name</label>
                <input class="mt-1 block w-full px-3 py-2 border rounded-md" id="full_name" name="full_name" type="text" required autocomplete="name" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700" for="full_name">Username</label>
                <input class="mt-1 block w-full px-3 py-2 border rounded-md" id="full_name" name="username" type="text" required autocomplete="username" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700" for="email">Email</label>
                <input class="mt-1 block w-full px-3 py-2 border rounded-md" id="email" name="email" type="email" required autocomplete="email" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700" for="password">Password</label>
                <input class="mt-1 block w-full px-3 py-2 border rounded-md" id="password" name="password" type="password" required autocomplete="new-password" />
            </div>
            <div>
                <label class="block text-sm font-medium text-gray-700" for="currency">Currency</label>
                <input class="mt-1 block w-full px-3 py-2 border rounded-md" id="currency" name="currency" type="currency" required />
            </div>
            <button hx-get="/views" hx-target="#main" class="w-full px-4 py-2 bg-indigo-600 text-white rounded-md" type="submit">Cancel</button>
            <button hx-post="/views/signup_user" hx-target="#main" class="w-full px-4 py-2 bg-indigo-600 text-white rounded-md" type="submit">Next</button>
        </form>
        <div class="mt-4 text-xs text-gray-500 text-center">
            By signing up, you agree to our <a href="/terms" class="text-indigo-600 underline">Terms of Service</a> and <a href="/privacy" class="text-indigo-600 underline">Privacy Policy</a>.
        </div>
    </div>
}
