name: Deploy to Minikube (Raspberry Pi)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Launch docker-compose
        run: docker-compose -f docker-compose.yaml up -d
